#outputArea{
    border: 6px solid rgb(83, 212, 31);
    width: 100%;
    max-width:950px;
    height: 550px;
    
}
#inputArea{
    border: 6px solid rgb(4, 148, 88);
    width: 98%;
    max-width:950px;
    height: 546px;
    background-color: transparent;
}
#sub-main{
    display: flex;
    gap: 16px;
}
h2{
    text-align: center;
}
#main{
    background-image: linear-gradient(
        rgb(81, 211, 211),
        rgb(32, 82, 83)
    );
    padding:10px;
    border-radius:1%;
}
button{
    padding: 7px;
    width: 100%;
    background-color: rgb(15, 19, 17);
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
    border-width: 0px;
    border-radius:10px;

}